@import "tailwindcss";
@theme {
  --font-display: "roboto", "sans-serif";
}
.show-loading {
  position: fixed;
  top: 0%;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: loading 0.1s alternate forwards;
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
